@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --background: #fffbf7;
  --background-second: #f7f0eb;
  --text-color: #28282c;
  --theme-primary: #ffefe0;
  --theme-secondary: #fed9ca;
  --theme-tertiary: #c5c5c5;
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: scroll;
  overflow-y: auto;
  color: var(--text-color);
  background: var(--background);
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, h1, label {
  font-family: Roboto, sans-serif;
  font-weight: 600;
}

.italics {
  font-style: italic;
}

input, textarea {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  height: fit-content;
  color: var(--text-color);
  resize: none;
  padding: 4px 16px;
}

textarea {
  min-height: 50px;
}

input:focus, textarea:focus {
  outline: thin inset var(--text-color);
}

label {
  font-size: 12px;
  font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
}
